<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>React Webpack Babel App</title>
</head>

<body><div id="react"></div></body>

<script src="build.js" type="text/javascript"></script>

</html>
